.header {
  background-color: tomato;
  display: grid;
  grid-template-areas:
    'logo'
    'nav';
  min-height: 130px;
  padding: 0 20px 20px 20px;
  position: fixed;
  z-index: 200;
  width: calc(100% - 40px - 10px);
  box-shadow: 0px 0.5px 5px darkred;
}

.logo {
  grid-area: logo;
  padding: 20px 0 20px;
}

.nav {
  grid-area: nav;
  display: grid;
  grid-template-areas:
    'greeting signout favorites';
  grid-template-columns: auto auto auto;
  height: 30px;
  align-items: end;
}

.greeting {
  grid-area: greeting;
}

.username {
  text-transform: capitalize;
}

.signout {
  grid-area: signout;
}

.favorites {
  grid-area: favorites;
}

.nav button {
  border-radius: 0;
  text-decoration: underline;
  text-align: center;
  padding: 0;
  min-width: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    grid-template-areas:
      'logo nav';
    grid-template-columns: 70% auto;
    background-color: pink;
    padding-bottom: 10px;
    min-height: 140px;
  }

  .nav {
    grid-template-areas:
      'greeting'
      'signout'
      'favorites';
    grid-template-columns: auto;
    padding-top: 20px;
  }

  .greeting {
    text-align: right;
    padding-bottom: 20px;
  }

  .nav button {
    text-align: right;
  }

  .signout {
    margin-bottom: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    background-color: orange;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    background-color: yellow;
    /* grid-template-columns: auto; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    background-color: green;
  }
}

@media only screen and (min-width: 1475px) {
  .header {
    background-color: blue;
  }  
}
