.header {
  background-color: tomato;
  display: grid;
  grid-template-columns: 70% auto;
}

.logo {
  padding: 10px 20px;
}

.username {
  text-transform: capitalize;
}

.greeting {
  grid-area: greeting;
  padding: 20px;
  text-align: right;
}

.signout {
  grid-area: signout;
  text-align: right;
}

.favorites {
  text-align: left;
  grid-area: favorites;
  padding-left: 0;
}

.nav {
  display: grid;
  grid-template-areas:
    'greeting greeting'
    'favorites signout';
  grid-template-rows: auto 40px;
}

.nav button {
  border-radius: 0;
  text-decoration: underline;
}




