.matchContainer {
  background-color: inherit;
  height: 440px;
  text-align: center;
}

.matchContainer p {
  text-align: left;
  padding: 20px 0px;
}

.matchContainer button {
  border: solid 1px black;
}

.matchContainer button:hover:not(:disabled) {
  background-color: tomato;
}

.hero {
  height: 200px;
  display: grid;
  grid-template-columns: 200px auto;
  background-color: tomato;;
}

.hero:first-of-type {
  margin-top: 10px;
  border-top: solid 1px black;
}

.hero figure {
  margin-block: 0;
  margin-inline: 0;
  width: 200px;
}

.details {
  padding: 10px;
  font-size: 0.9em;
}

.details p {
  padding: 10px;
}

.details h3 {
  text-align: left;
  padding: 10px;
}