.card {
  background-color: white;
  display: grid;
  padding: 0px;
  margin: 0px;
  text-align: left;
  height: auto;
  width: auto;
}

.card figure {
  margin-block: 0;
  margin-inline: 0;
}

.imgContainer {
  position: relative;
  background-color: black;
  width: 100%;
  min-height: 200px;
}

.info {
  padding: 10px;
}

.info h4 {
  font-size: 1em;
  margin: 0;
}

.info p {
  font-size: 0.8em;
}
