.dogs {
  background-color: peru;
  padding: 20px;
}

.resultsContainer {
  padding: 10px;
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.filter {
  margin: 10px 0 ;
  border: solid 1px black;
  padding: 20px;
}

.filter fieldset {
  border: none;
  padding: 20px 0;
}

.filter fieldset label {
  padding-right: 7px;
}

.filter select {
  padding: 3px;
  font-family: 'WeGoSansRegular', sans-serif;
  font-size: 1.2em;
  border: none;
  border-bottom: solid 2px black;
  background-color: peru;
}

.filter option {
  background-color: pink;
}

.query {
  padding: 20px 0;
}
