.filter {
  display: grid;
  grid:
    'title title title title title'
    'breeds ageMin ageMax sortBreeds buttons';
  padding: 20px 20px 0 20px;
  /* background-color: #F6CDA6; */
  background-color: peru;
  height: 180px;
  align-items: baseline;
}

.title {
  grid-area: title;
}

.breeds {
  grid-area: breeds;
}

.ageMin {
  grid-area: ageMin;
}

.ageMax {
  grid-area: ageMax;
}

.sortBreeds {
  grid-area: sortBreeds;
}

.filter fieldset {
  border: none;
  padding: 20px 0;
}

.filter fieldset label {
  padding-right: 7px;
}

.filter select {
  padding: 5px;
  font-family: 'WeGoSansRegular', sans-serif;
  font-size: 1em;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
}

.breeds select {
  margin-bottom: -8px;
}

.buttonContainer {
  grid-area: buttons;
}

.reset {
  text-decoration: underline;
  padding-left: 0;
  background-color: inherit;
}

.reset:hover {
  background-color: inherit;
}

.submit {
  border: solid 1px black;
}

.submit:hover {
  background-color: tomato;
}
