.filter {
  display: grid;
  padding: 150px 20px 0 20px;
  background-color: peru;
  height: auto;
  grid-template-areas:
    'title'
    'breeds'
    'ageMin'
    'ageMax'
    'sortBreeds'
    'buttons';
}

.title {
  grid-area: title;
}

.breeds {
  grid-area: breeds;
}

.ageMin {
  grid-area: ageMin;
}

.ageMax {
  grid-area: ageMax;
}

.sortBreeds {
  grid-area: sortBreeds;
}

.filter fieldset {
  border: none;
  padding: 10px 0;
}

/* 
.filter fieldset label {
  padding-right: 7px;
} */

.filter label {
  font-weight: 700;
  text-align: right;
}

.filter select {
  padding: 5px;
  font-family: 'WeGoSansRegular', sans-serif;
  font-size: 1em;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
}

.buttonContainer {
  grid-area: buttons;
  padding-bottom: 20px;
}

.reset {
  text-decoration: underline;
  padding-left: 0;
  background-color: inherit;
}

.reset:hover {
  background-color: inherit;
}

.submit {
  border: solid 1px black;
}

.submit:hover {
  background-color: tomato;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .filter {
    padding: 110px 20px 0 20px; 
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .filter {
    grid-template-areas:
    'title title title'
    'breeds ageMin sortBreeds'
    'breeds ageMax buttons';
    padding-bottom: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .filter {
    grid-template-areas:
    'title title title title title'
    'breeds ageMin ageMax sortBreeds buttons';
    align-items: baseline;
  }
}
