.nav {
  text-align: center;
  /* background-color: #FFE7E1; */
  background-color: cornflowerblue;
}

.nav * {
  display: inline-block;
}

.nav button {
  background-color: inherit;
}

.nav button:hover {
  text-decoration: underline;
}

.nav button:disabled:hover {
  cursor: auto;
}