.nav {
  text-align: center;
  background-color: #C4E6FF;
  padding: 20px 0;
}

.nav * {
  display: inline-block;
}

.nav button {
  background-color: inherit;
}

.nav button:hover {
  text-decoration: underline;
}

.nav button:disabled:hover {
  cursor: auto;
}