@font-face {
  font-family: 'WeGoSerifBold';
  src: url('/fonts/we-go-serif-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'WeGoSansRegular';
  src: url('/fonts/we-go-serif-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'WeGoSansRegular', sans-serif;
  margin: auto;
  padding: 0 5px;
  background-color: whitesmoke;
  height: 1000px;
}

h1, h2, h3 {
  font-family: 'WeGoSerifBold', serif;
  margin-block: unset;
}

input, button {
  font-family: 'WeGoSansRegular', sans-serif;
}

button {
  padding: 10px 20px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

p {
  margin-block: unset;
}

a {
  color: black;
}
