@font-face {
  font-family: 'WeGoSerifBold';
  src: url('/fonts/we-go-serif-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'WeGoSansRegular';
  src: url('/fonts/we-go-serif-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'WeGoSansRegular', sans-serif;
  width: 60%;
  margin: auto;
}

h1, h2, h3 {
  font-family: 'WeGoSerifBold', serif;
}
