.mainContainer {
  display: grid;
  grid-template-columns: auto;
}

.message {
  background-color: cornflowerblue;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

.sideContainer {
  background-color: cornsilk;
  display: grid;
  justify-content: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainContainer {
    grid-template-columns: 60% auto;
  } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
  .mainContainer {
    grid-template-columns: 70% auto;
  } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mainContainer {
    grid-template-columns: 75% auto;
  } 
}
