.profile {
  background-color: cornsilk;
  padding: 20px 20px 20px 0;
}

.profile figure {
  display: block;
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  justify-content: center;
}

.profile img {
  /* width: 100%;
  max-width: 400px; */
  width: 400px;
  height: auto;
}

.details {
  height: 180px;
  padding-left: 20px;
  display: grid;
  grid-template-areas:
    'name name name btn'
    'breed breed breed breed'
    'age age age age'
    'zip zip zip zip';
}

.name {
  grid-area: name;
}

.btn {
  grid-area: btn;
  padding: 0;
  width: 50px;
  height: 40px;
  padding-block: 0;
  justify-self: end;
  border: solid 1px black;
}

.btn:hover {
  background-color: tomato;
  color: white;
}

.selected {
  color: tomato;
}

.selected:hover {
  color: white;
}

.breed {
  grid-area: breed;
}

.zip {
  grid-area: zip;
}

.details h2 {
  padding-bottom: 20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .profile {
    padding: 165px 20px 20px 20px;
    height: 100%;
  }

  .profile img {
    width: 100%;
  }
}

@media only screen and (min-width: 1475px) {
  .profile img {
    width: 350px;
  }
}